<div class="exemplos-pipes">
    <h3>Exemplos de Pipes</h3>
    <br>
    <p> <strong>Título: </strong> {{ livro.titulo | uppercase | lowercase | camelCase}}</p>
    <p> <strong>Estrelas: </strong> {{ livro.rating | number: '2.1-2'}}</p>
    <p> <strong> Páginas: </strong> {{ livro.numeroPaginas }}</p>
    <p> <strong> Preço: </strong> {{ livro.preco | currency: 'BRL' }}</p>
    <p> <strong> Data Lançamento: </strong> {{ livro.dataLancamento | date: 'longDate'}}</p>
    <p> <strong> Url: </strong> {{ livro.url }}</p>
    <br>
    <p> <strong>Livro: </strong> {{ livro | json }}</p>

    <h3>Pipe Customizado camelCase</h3>
    <p> <strong>Título: </strong> {{ livro.titulo | uppercase | lowercase | camelCase}}</p>
</div>

<div class="puro-impuro">
    <br>
    <input type="text" [(ngModel)]="filtro">
    <br>
    <input type="text" #novoValor>
    <br>
    <button class="btn btn-primary" (click)="addCurso(novoValor.value)">Add Curso</button>
    <br>
    <h3>Pipe Puro</h3>

    <ul>
        <li *ngFor="let liv of livros | filtroArray: filtro">
            {{ liv }}
        </li>
    </ul>
<br>
    <h3>Pipe Impuro</h3>
    <ul>
        <li *ngFor="let liv of livros | filtroArrayImpuro: filtro">
            {{ liv }}
        </li>
    </ul>
    <br>
    <h3>Maneira correta de usar filtro nos projetos</h3>
    <ul>
        <li *ngFor="let liv of obterCursos()">
            {{ liv }}
        </li>
    </ul>
</div>

<div class="pipe-async">
    <app-pipe-async></app-pipe-async>
</div>